
    /*checkbox*/
    .cbx {
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
    }
    .cbx span {
        display: inline-block;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
    }
    .cbx span:first-child {
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        transform: scale(1);
        vertical-align: middle;
        border: 0.1rem solid #B9B8C3;
        transition: all 0.2s ease;
    }
    .cbx span:first-child svg {
        position: absolute;
        z-index: 1;
        top: 0.8rem;
        left: 0.6rem;
        fill: none;
        stroke: white;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 1.6rem;
        stroke-dashoffset: 1.6rem;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate3d(0, 0, 0);
    }
    .cbx span:first-child:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #677821;
        display: block;
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
        transition-delay: 0.2s;
    }
    .cbx span:last-child {
        margin-left: 0.8rem;
    }
    .cbx span:last-child:after {
        content: "";
        position: absolute;
        top: 0.8rem;
        left: 0;
        height: 0.1rem;
        width: 100%;
        background: #B9B8C3;
        transform-origin: 0 0;
        transform: scaleX(0);
    }
    .cbx:hover span:first-child {
        border-color: #677821;
    }
    
    .inp-cbx:checked + .cbx span:first-child {
        border-color: #677821;
        background: #677821;
        animation: check 0.6s ease;
    }
    .inp-cbx:checked + .cbx span:first-child svg {
        stroke-dashoffset: 0;
    }
    .inp-cbx:checked + .cbx span:first-child:before {
        transform: scale(2.2);
        opacity: 0;
        transition: all 0.6s ease;
    }
    .inp-cbx:checked + .cbx span:last-child {
        color: #B9B8C3;
        transition: all 0.3s ease;
    }
    .inp-cbx:checked + .cbx span:last-child:after {
        transform: scaleX(1);
        transition: all 0.3s ease;
    }
    
    @keyframes check {
        50% {
        transform: scale(1.2);
        }
    }
/*fin checkbox*/